<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
	"http://www.springframework.org//dtd/spring-beans-2.0.dtd">
	
	<!-- Define beans-->
	<beans>
	<bean class="com.Spring.Teacher" id="theTeacher">
	
	<!-- Setter DI here-->
	<property name="name" value="Dinesh"></property>
	<property name="domain" value="FSD, Spring, UI, Docker"></property>
	
	<!-- Constructor DI here-->
	<constructor-arg value="Aarchana"/>
	<constructor-arg value="Biology"/>
	
	
	
	</bean>
	</beans>